/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Início cabeçalho */
.topo{
  width: 100%;
  position: fixed;
  background-color: #604829;
  z-index:1;
}

.topo img {
  width: 100px;
  position: relative;
  left: 15%;
}

.topo div {
  position: absolute;
  top:35%;
  right:15%;
}
.topo div a {
  margin-right: 20px;
  color:#c4a47c;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  text-shadow: 3px 5px 2px #000000;
  font-family: "Osvald", sans-serif;
}
/* Container Geral */

.container-parallax1,
.container-parallax2 {
  position: relative;
  background: center;
  background-size: cover;
  background-attachment: fixed;
}
/* Parallax imagem 1 */
.container-parallax1 {
  background-image: url("/img/parallax-imagem1.png");
  height: 100vh;
}
/* Parallax imagem 2  */
.container-parallax2 {
  background-image: url("/img/parallax-imagem2.jpg");
  height: 50vh;
}


.container-parallax1 h1 {
  top:45%;
  right: 0;
  left: 0%;
  position: absolute;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-family: "Fraunces", serif;
  font-size: 100px;
}
.container-parallax2 h3 {
  width: 500px;
  padding: 10px;
  position:relative;
  top:45%;
  left: 0;
  right: 0;
  margin:auto;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  font-family: "Fraunces", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  background-color: #604829;
  color: #fff;
}

/* Seção informações */
.container-texto {
  padding: 80px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1px;
  text-align: center;
  color: #666666;
}
.container-texto p {
  max-width: 1024px;
  padding: 0px 20px;
  margin: 0 auto;
  font-family: "Lato", "sans-serif";
  line-height: 34px;
  letter-spacing: 1px;
  color: #666666;
}
.container-texto h2 {
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  color: #c4a47c;
}










/* Fim do cabeçalho */